# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Logs & temp
*.log
*.tmp
.cache/

# Local env / secrets
.env
.env.*

# Node (если появится сборка)
node_modules/
dist/
build/
.parcel-cache/
